<form [formGroup]="form">
  <ng-container *ngFor="let label of arrayLabels">
    <mat-card [formArrayName]="label" class="card-array">
      <div>
        <span class="section-label">{{ label }}</span>
        <span><button mat-raised-button></button></span>
      </div>
      <div formGroupName="0">
        <ng-container *ngFor="let control of formArray[label].controls">
          <app-form-control
            [formControlName]="control.name"
            [control]="control"
          ></app-form-control>
        </ng-container>
      </div>
    </mat-card>
  </ng-container>
</form>
