<form [formGroup]="form">
  <ng-container *ngFor="let label of arrayLabels">
    <mat-card [formArrayName]="label" class="card-array">
      <div class="actions space-between">
        <div class="section-label">{{ label }}</div>
        <button
          type="button"
          mat-mini-fab
          color="accent"
          (click)="addNewControls(label)"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <ng-container *ngFor="let i of arrayOfIndexes">
        <mat-card-content class="actions flex-start">
          <div [formGroupName]="i">
            <ng-container
              *ngFor="let group of formArray[label].groups[i] | keyvalue"
            >
              <ng-container *ngFor="let control of group.value.controls">
                <app-form-control
                  [formControlName]="control.id"
                  [control]="control"
                ></app-form-control>
              </ng-container>
            </ng-container>
          </div>
          <button
            type="button"
            mat-mini-fab
            color="warn"
            (click)="removeControls(label, i)"
            style="margin-top: 0.5rem"
            [ngStyle]="{ display: i !== 0 ? 'inline-block' : 'none' }"
          >
            <mat-icon>remove</mat-icon>
          </button>
        </mat-card-content>
      </ng-container>
    </mat-card>
  </ng-container>
</form>
