.card-array {
  background-color: #8FDDDF;
  margin: 1rem;
}

.actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.section-label {
  font-variant: small-caps;
  font-weight: 500;
  padding-bottom: 1rem;
}