<mat-card class="card-parent mat-elevation-z8">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ng-container *ngFor="let control of model.controls">
      <app-form-control
        [formControlName]="control.id"
        [control]="control"
      ></app-form-control>
    </ng-container>
    <ng-container *ngFor="let label of groupLabels">
      <app-form-group
        [formControlName]="label"
        [group]="model.groups | getObject: label"
        [name]="label"
      ></app-form-group>
    </ng-container>
    <ng-container *ngFor="let item of model.arrays; let i = index">
      <app-form-array [formControlName]="i" [formArray]="item"></app-form-array>
    </ng-container>
    <button
      matButton
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!this.form.valid"
    >
      Submit
    </button>
  </form>
</mat-card>
