<mat-card class="card-group mat-elevation-z3">
  <div class="section-label">{{ name || 'empty' }}</div>
  <form [formGroup]="form">
    <ng-container *ngFor="let control of controls">
      <app-form-control
        [formControlName]="control.id"
        [control]="control"
        [parentControls]="parentControls"
      ></app-form-control>
    </ng-container>
    <ng-container *ngFor="let label of groupLabels">
      <app-form-group
        [formControlName]="label"
        [group]="groups | getObject: label"
        [name]="label"
        [parentControls]="parentControls"
      ></app-form-group>
    </ng-container>
    <ng-container *ngFor="let item of arrays; let i = index">
      <app-form-array
        [formControlName]="i"
        [formArray]="item"
        [index]="i"
        [parentControls]="parentControls"
      ></app-form-array>
    </ng-container>
  </form>
</mat-card>
